<header>
    <div class="logo">
        <h1>City Car<br> Wash</h1>
    </div>
    <nav >
        <a href="/ProductList">Product List</a>
        <a href="/DailySales">Daily Sales</a>
        <a href="/FilterMatcher">Filter Matcher</a>
    </nav>
    <div class="login-container">
        <a href="#">Log In</a>
        <a href="#">Sign Up</a>
    </div>
</header>
