<form action="/ProductList" method="post" id="add_row_ShowHideID" class="add_row remove">
        <div class="cross_btn">
            <img src="images/cross.svg">
        </div>
        <input type="number" class="Quantity fields" name="PQuantity" placeholder="Quantity" min="0">
        <input type="text" class="Pname fields" name="Pname" placeholder="Product name">
        <input type="number" class="BPrice fields" name="BPrice" placeholder="Buying Price" min="0">
        <input type="number" class="RPrice fields" name="RPrice" placeholder="Retail Price" min="0">
        <input type="submit" class="submit-btn" value="Add" id="form_add_btn">
</form>