<div class="remove remove-product ">
    <div class="cross_btn" id="rjs">
        <img src="images/cross.svg">
    </div>
    <h2>Are you sure you want to remove this product</h2>
    <div class="btn-container">
        <button class="ask-btn Yes">Yes</button>
        <button class="ask-btn No">No</button>
    </div>
</div>