<div class="Search_box_parent">
    <div class="Search_box">
        <input type="search" placeholder="Search Product" id="Search_box_input">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png">
    </div>
</div>