<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Daily Sales/Add_Sold_Item.css">
    <link rel="stylesheet" href="/css/Main Tabel Body.css">

    <title>Daily Sales | City car Wash</title>

</head>

<body>

    {{>Header}}
    {{>receipt}}
    <div class="container">
        <div class="Regular">
            <h2>Daily Sales</h2>
            <h4 id="date">

            </h4>
        </div>
        <button class="add_product" id="add_product">Add sold product
        </button>

        <table id="table_content">
            <thead>
                <tr>
                    <th width="20%">Quantity</th>
                    <th width="50%">Product Name</th>
                    <th width="20%">Buying price</th>
                    <th width="20%">Retail price</th>
                    <th width="10%" style="border: none;"></th>
                </tr>
            </thead>

            <tbody>

                <tr class="LastRowTR" style="background-color:rgb(170, 170, 0)">
                    <td colspan=2 class="SalesTotalRow">Total</td>
                    <td colspan=2 class="SalesTotalRow"></td>
                </tr>



            </tbody>
        </table>
    </div>
    <div class="add_row_sold_parent remove" id="add_row_ShowHideID">
        <div class="add_row" id="add_row">
            <div class="cross_btn">
                <img src="images/cross.svg">
            </div>
            <input type="text" class="PnameDaily Pname fields" name="Pname" placeholder="Search Sold Products">
            <input type="submit" class="submit-btn" value="Add" id="form_add_btn">
        </div>
    </div>
    <script src="JS/Linked Files/Daily Sales/index.js"></script>
    <script src="JS/Linked Files/Daily Sales/DailySales.js"></script>



</body>

</html>